.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 88rpx;
	padding: 0 32rpx 0 24rpx;
	line-height: 88rpx;
}
.top .img{
	display: flex;
	align-items: center;
}
.top image{
	width: 48rpx;
	height: 48rpx;
}
.content{
	margin-top: 20rpx;
	padding: 0 40rpx;
}
